*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
}
.container{
    width:500px;
    height: 400px;
    margin: auto;

}
.container form{
    width: 100%;
    height: 100%;
    background-color: aqua;
    padding: 50px;
    box-shadow: 0 8px 16px rgba(0,0,0,.3);
    border-radius: 15px;
}
.container form h1{
    text-align: center;
    padding-bottom: 20px;
}
.container form .f{
     margin: 8px 0 15px 0;
    width: 100%;
    height: 28px;
    padding-left: 5px;
}
.container form button{
     margin-left: 50%;
     transform: translate(-50%);
     padding: 10px;
     background-color: red;
     border-radius: 10px;
     color: white;
     border: none;
     cursor: pointer;
    }
    .container form a{
    margin-left: 30%;
    color: blue;
    text-decoration: none;
}
.container form button:hover{
    opacity: .8;
}
